body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color:#fff;
    text-underline-offset: none;
}

.sidebar li .nav-item{
    text-decoration: none;
    color:#fff;
}

Link {
    text-decoration: none;
}

.sidebar li:hover {
    background-color: #555;
}

.content {
    flex: 1;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}


/* index.css */
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 300px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

